.content {
    margin-top: 54px;
    }
    .header {
    padding: 15px;
    
    top: 0;
    width: 100%;
    z-index: 9999;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        
        background: linear-gradient(to right, #bdc3c7, #2c3e50);
    }
    .quiz-body {
        margin: 10px 0 5px;
        padding-bottom: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        

    }
    .option-block-container {
    
    max-width: 420px;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
    }
    .option-block {
    padding: 10px;
    background: aliceblue;
    border: 1px solid #511357;
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
    }
    .result-question {
    font-weight: bold;
    }
    .c-wrong {
    margin-left: 20px;
    color: #ff0000;
    }
    .c-correct {
    margin-left: 20px;
    color: green;
    }
    .last-row {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    margin-bottom: 25px;
    }
    .res-header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    padding-bottom: 15px;
    }